.logon-container{
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logon-container section.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 350px;
  margin-right: 48px;
}

.logon-container section.form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width:300px;
  margin-top: 48px;
}

.logon-container section.form form h1{
  font-size: 32px;
  margin-bottom: 32px;
}
